@import "tailwindcss";

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em currentColor;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}